<h2>Собранные данные</h2>

<table class="data">
<tr>
<th>Время <th>Широта <th>Долгота <th>Температура
</tr>
<% FOREACH sample IN samples %>
<tr>
<td><% sample.ctime %>
<td><% sample.geo_lat %>
<td><% sample.geo_long %>
<td><% sample.sensor_temp %>
</tr>
<% END %>

<script>
var temperatureData = {
<% FOREACH sample IN samples %>
['lat':<% sample.geo_lat %>, 'lng':<% sample.geo_long %>, 'value':<% sample.sensor_temp %>],
<% END %>
};
</script>
</table>
