<h2>Собранные данные</h2>

<table>
<tr>
<th>Время <th>Широта <th>Долгота <th>Температура
</tr>
<% FOREACH sample IN samples %>
<tr>
<td><% sample.ctime %>
<td><% sample.geo_lat %>
<td><% sample.geo_long %>
<td><% sample.sensor_temp %>
</tr>
<% END %>
</table>
