<h2>Войти</h2>

<p>Если у Вас нет логина, то <a href="/reg<?pl if ($back) { ?>?back=[= $back =]<?pl } ?>">зарегистрируйтесь</a>.</p>

<form action="/login" method="post">
Логин: <input name=login><br>
Пароль: <input name=passwd type=password>
<input type=submit value="Войти">
<input type=hidden name=back value="[= $back =]">
</form>
