<form method="post">
Место: <input name="geo_lat">, <input name="geo_long"><br>
Температура: <input name="sensor_temp"> C&deg;<br>
<input type=submit name=submit value="Отправить!">
<input type=hidden name=login value="<% user_login | html %>">
</form>
