<h2>Здравствуйте, <% user.name %>!</h2>

<% IF samples %>
<h3>Ваши данные</h3>
<table>
<tr>
<th>Время <th>Широта <th>Долгота <th>Температура
</tr>
<% FOREACH sample IN samples %>
<tr>
<td><% sample.ctime %>
<td><% sample.geo_lat %>
<td><% sample.geo_long %>
<td><% sample.sensor_temp %>
</tr>
<% END %>
</table>
<% ELSE %>
<h3>Вы пока не добавляли данных</h3>
<% END %>
<p><a href="/sample">Добавить</a></p>

<h3>Ваши места</h3>
