<h2>Здравствуйте, [= $user->name =]!</h2>

<?pl if ($samples) { ?>
<h3>Ваши данные</h3>
<table class="data">
<tr>
<th>Время <th>Широта <th>Долгота <th>Температура
</tr>
<?pl for (@$samples) { ?>
<tr>
<td>[= $_->ctime =]
<td>[= $_->geo_lat =]
<td>[= $_->geo_long =]
<td>[= $_->sensor_temp =]
</tr>
<?pl } ?>
</table>
<?pl } else { ?>
<h3>Вы пока не добавляли данных</h3>
<?pl } ?>
<p><a href="/sample">Добавить</a></p>

<h3>Ваши места</h3>
