body {
    font-family: Lucida,sans-serif;   
    color: #eee;
    background-color: #1f1b1a;
}

#logo a {
    text-decoration: none;
}

#toolbar {
    background-color: #eee;
    color: #000;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#toolbar p {
    text-align: center;
    padding: 0.5em;
}

#toolbar a {
    color: black;
}

#content {
    color: #000;
    background-color: #eee;
    padding: 1em;
    margin: 1em;
    padding-top: 0.5em;
}

table.data, table.data td, table.data th {
    border: 1px solid black;
}
th {
    font-weight: bold;
}

a { 
    color: #a5ec02;
}

h1 { 
    color: #a5ec02;
}

#footer {
    border-top: 1px solid #aba29c;
    margin-top: 2em;
    padding-top: 1em;
    font-size: 10px;
    color: #ddd;
}

pre {
    font-family: \"lucida console\",\"monaco\",\"andale mono\",\"bitstream vera sans mono\",\"consolas\",monospace;
}

